
@font-face {
  font-family: 'iconfont';  /* project id 1116371 */
  src: url('//at.alicdn.com/t/font_1116371_6r80wxs3e2f.eot');
  src: url('//at.alicdn.com/t/font_1116371_6r80wxs3e2f.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1116371_6r80wxs3e2f.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1116371_6r80wxs3e2f.woff') format('woff'),
  url('//at.alicdn.com/t/font_1116371_6r80wxs3e2f.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1116371_6r80wxs3e2f.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

